$main-bg-color: #031275;
$main-color: #ffffff;
$second-color: #FFE046;
$third-color: #031275;
$border-radius: 8px;
$opacity: 50%;
$font: 'Open Sans', sans-serif;


body{
	font-family: $font;
	font-size: 14px;
	color: $main-color;
	margin-left: 45%;
}
.page{
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	margin-bottom: 40px;
	min-height: 100vh;
}
.card{
	width: 100%;
	background-color: rgba(255,255,255, 0.5);
	border-radius: $border-radius;
	margin: 16px 12px;
	.title{
		margin-top: 16px;
		display: flex;
		justify-content: center;
		h1{
			margin: 0;
			padding: 0 8px;
			color: $third-color;
			font-weight: 800;
			border-bottom: 4px solid $third-color;
		}
	}
	.content{
		section{
			background-color: $main-bg-color;
			margin: 16px;
			padding: 16px;
			border-radius: $border-radius;
		}
	}
}
.text-yellow{
	color: $second-color;
}
.br-default{
	border-radius: $border-radius;
}
table.biodata{
	width: 100%;
	tr{
		td{
			vertical-align: top;
		}
		td:nth-child(1){
			width: 35%;
			color: $second-color;
		}
		td:nth-child(2){
			width: 65%;
		}
	}
	a{
		color: $main-color;
		text-decoration: none;
	}
}
table.table-legend{
	tr{
		td:nth-child(2){
			text-align: right;
			width: 24px;
		}
	}
}
.skill-container{
	& > div{
		display: flex;
		justify-content: space-between;
		padding: 4px 8px;
		border-radius: $border-radius;
		
		&:nth-child(odd){
			background-color: #263D93;
		}
		
		& > div{
			width: 33.33%;
			&:nth-child(2){
				text-align: center;
			}
			&:nth-child(3){
				text-align: right;
			}
		}
	}
	
}
div.technology{
	margin-top: 8px;
	display: flex;
	flex-wrap: wrap;
	& > span{
		padding: 0 16px;
		background-color: $second-color;
		color: $main-bg-color;
		font-weight: 800;
		border-radius: $border-radius;
		margin: 4px;
	}
}

@import "side-left";
@import "side-right";
@import "media-query";