$main-bg-color: #031275;
$main-color: #ffffff;
$second-color: #FFE046;
$third-color: #031275;
$border-radius: 8px;
$opacity: 50%;
$font: 'Open Sans', sans-serif;


body{
	font-family: $font;
	font-size: 14px;
	color: $main-color;
	margin-left: 45%;
}
.font-10{
	font-size: 10px;
}
.lh-100{
	line-height: 100%;
}
nav.nav-top{
	display: none;
	background-color: $main-bg-color;
	text-align: right;
	padding: 8px 4px;
	padding-right: 16px;
	.nav-item{
		margin: 8px;
		text-decoration: none;
		font-size: 16px;
		color: $main-color;
		text-align: center;
	}

	div.icon{
		position: absolute;
		top: 4px;
		left: 24px;
		$icon-diameter: 48px;
		width: $icon-diameter;
		height: $icon-diameter;
		border-radius: $icon-diameter/2;
		background-image: url("../images/profile.jpg");
		background-position: center center;
		background-size: cover;
		// box-shadow: 2px 4px 16px 2px #000000;
		border: 4px solid $main-bg-color;
		z-index: 2;
	}
	div.greeting{
		position: absolute;
		top: 0px;
		left: 40px;
		background-color: $main-bg-color;
		color: $main-color;
		padding: 8px 12px 8px 36px;
		border-bottom-right-radius: 24px;
		border-bottom-left-radius: 8px;
		z-index: 1;
		text-align: center;
		.title{
			font-size: 10px;
		}
	}
}
.page{
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	margin-bottom: 40px;
	min-height: 100vh;
}
.card{
	width: 100%;
	background-color: rgba(255,255,255, 0.5);
	border-radius: $border-radius;
	margin: 16px 12px;
	.title{
		margin-top: 16px;
		display: flex;
		justify-content: center;
		h1{
			margin: 0;
			padding: 0 8px;
			color: $third-color;
			font-weight: 800;
			border-bottom: 4px solid $third-color;
		}
	}
	.content{
		section{
			background-color: $main-bg-color;
			margin: 16px;
			padding: 16px;
			border-radius: $border-radius;
		}
	}
}
.text-yellow{
	color: $second-color;
}
.br-default{
	border-radius: $border-radius;
}
table.biodata{
	width: 100%;
	tr{
		td{
			vertical-align: top;
			min-width: 100px;
		}
		td:nth-child(1){
			width: 35%;
			color: $second-color;
		}
		td:nth-child(2){
			width: 65%;
		}
	}
	a{
		color: $main-color;
		text-decoration: none;
	}
}
div.social-account{
	a{
		color: $main-color;
		& > i{
			margin: 4px 8px;
		}
	}
}
table.table-legend{
	tr{
		td{
			vertical-align: top;
			&:nth-child(2){
				text-align: right;
				width: 24px;
			}
		}
	}
}
.skill-container{
	& > div{
		display: flex;
		justify-content: space-between;
		padding: 4px 8px;
		border-radius: $border-radius;
		
		&:nth-child(odd){
			background-color: #263D93;
		}
		
		& > div{
			display: flex;
			align-items: center;
			width: 33.33%;
			&:nth-child(2){
				justify-content: center;
			}
			&:nth-child(3){
				justify-content: flex-end;
			}
		}
	}
	
}
div.technology{
	margin-top: 8px;
	display: flex;
	flex-wrap: wrap;
	& > span{
		padding: 0 16px;
		background-color: $second-color;
		color: $main-bg-color;
		font-weight: 800;
		border-radius: $border-radius;
		margin: 4px;
	}
}

@import "side-left";
@import "side-right";
@import "media-query";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}