@media only screen and (max-width: 1200px) {
	.side-left{
		display: block;
		.icon-container{
			.icon{
				$icon-diameter: 200px;
				width: $icon-diameter;
				height: $icon-diameter;
				border-radius: $icon-diameter/2;
				background-color: red;
			}
		}

		.content{
			padding: 0 58px;
			div{
				.greeting span{
					font-size: 44px;
				}

				.name {
					h1{
						font-size: 50px;
					}
					.title{
						
					}
				}
			}
		}
		nav{
			margin-top: 16px;
			padding: 0;
			.nav-item{
				font-size: 14px;
			}
		}
	}
}
@media only screen and (max-width: 992.5px) {
	.side-left{
		display: none;
	}
	nav.nav-top{
		display: block;
	}
	body{
		margin-left: 0;
	}
}
@media only screen and (max-width: 600px) {
	
	nav.nav-top{
		div.icon{
			top: 16.5px;
    		left: 15px;
    		width: 40px;
		    height: 40px;
		    border-radius: 20px;
			border: 2px solid $main-bg-color;
		}
		div.greeting{
		    top: 31px;
		    left: 12px;
		    font-size: 10px;
			color: $main-color;
		    padding: 0px 10px 2px 48px!important;
		    border-bottom-right-radius: 24px!important;
		    border-bottom-left-radius: 24px!important;
		    z-index: 1;
			.title{
				font-size: 8px !important;
			}
		}
		padding-right: 8px;
		a.nav-item{
			margin: 4px !important;
			font-size: 14px;

		}
	}
}

// @media only screen and (max-width: 1200px) {
// 	.side-left{
// 		display: none;
// 	}
// 	.side-right{
// 		position: static;
// 	}
// }