body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin-left: 45%; }

.page {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
  min-height: 100vh; }

.card {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  margin: 16px 12px; }
  .card .title {
    margin-top: 16px;
    display: flex;
    justify-content: center; }
    .card .title h1 {
      margin: 0;
      padding: 0 8px;
      color: #031275;
      font-weight: 800;
      border-bottom: 4px solid #031275; }
  .card .content section {
    background-color: #031275;
    margin: 16px;
    padding: 16px;
    border-radius: 8px; }

.text-yellow {
  color: #FFE046; }

.br-default {
  border-radius: 8px; }

table.biodata {
  width: 100%; }
  table.biodata tr td {
    vertical-align: top; }
  table.biodata tr td:nth-child(1) {
    width: 35%;
    color: #FFE046; }
  table.biodata tr td:nth-child(2) {
    width: 65%; }
  table.biodata a {
    color: #ffffff;
    text-decoration: none; }

table.table-legend tr td:nth-child(2) {
  text-align: right;
  width: 24px; }

.skill-container > div {
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  border-radius: 8px; }
  .skill-container > div:nth-child(odd) {
    background-color: #263D93; }
  .skill-container > div > div {
    width: 33.33%; }
    .skill-container > div > div:nth-child(2) {
      text-align: center; }
    .skill-container > div > div:nth-child(3) {
      text-align: right; }

div.technology {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap; }
  div.technology > span {
    padding: 0 16px;
    background-color: #FFE046;
    color: #031275;
    font-weight: 800;
    border-radius: 8px;
    margin: 4px; }

.side-left {
  position: fixed;
  left: 0;
  top: 0;
  width: 45%;
  height: 100%;
  background-color: #031275;
  color: #ffffff;
  overflow: auto; }
  .side-left .icon-container {
    display: flex;
    justify-content: center;
    margin: 48px 0 28px 0; }
    .side-left .icon-container .icon {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      background-image: url("../images/profile.jpg");
      background-position: center center;
      background-size: cover;
      box-shadow: 2px 4px 16px 2px #000000; }
  .side-left .content {
    padding: 0 64px;
    display: flex;
    justify-content: center; }
    .side-left .content div .greeting span {
      color: #FFE046;
      font-size: 52px; }
    .side-left .content div .name h1 {
      font-size: 64px;
      margin: 0; }
    .side-left .content div .quote {
      display: flex;
      justify-content: center;
      padding: 24px 0; }
      .side-left .content div .quote span {
        font-style: italic; }
  .side-left nav {
    position: sticky;
    bottom: 0;
    padding: 16px;
    text-align: center; }
    .side-left nav .nav-item {
      text-decoration: none;
      font-size: 20px;
      color: #ffffff;
      margin: 4px 8px; }

.side-right {
  min-height: 100vh;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center bottom; }
  .side-right .background-overlay {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.3); }

@media only screen and (max-width: 1200px) {
  .side-left .icon-container .icon {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: red; }
  .side-left .content div .greeting span {
    font-size: 44px; }
  .side-left .content div .name h1 {
    font-size: 52px; }
  .side-left nav .nav-item {
    font-size: 14px; } }

/*# sourceMappingURL=main.css.map */
