body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin-left: 45%; }

.font-10 {
  font-size: 10px; }

.lh-100 {
  line-height: 100%; }

nav.nav-top {
  display: none;
  background-color: #031275;
  text-align: right;
  padding: 8px 4px;
  padding-right: 16px; }
  nav.nav-top .nav-item {
    margin: 8px;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    text-align: center; }
  nav.nav-top div.icon {
    position: absolute;
    top: 4px;
    left: 24px;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-image: url("../images/profile.jpg");
    background-position: center center;
    background-size: cover;
    border: 4px solid #031275;
    z-index: 2; }
  nav.nav-top div.greeting {
    position: absolute;
    top: 0px;
    left: 40px;
    background-color: #031275;
    color: #ffffff;
    padding: 8px 12px 8px 36px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 8px;
    z-index: 1;
    text-align: center; }
    nav.nav-top div.greeting .title {
      font-size: 10px; }

.page {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
  min-height: 100vh; }

.card {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  margin: 16px 12px; }
  .card .title {
    margin-top: 16px;
    display: flex;
    justify-content: center; }
    .card .title h1 {
      margin: 0;
      padding: 0 8px;
      color: #031275;
      font-weight: 800;
      border-bottom: 4px solid #031275; }
  .card .content section {
    background-color: #031275;
    margin: 16px;
    padding: 16px;
    border-radius: 8px; }

.text-yellow {
  color: #FFE046; }

.br-default {
  border-radius: 8px; }

table.biodata {
  width: 100%; }
  table.biodata tr td {
    vertical-align: top;
    min-width: 100px; }
  table.biodata tr td:nth-child(1) {
    width: 35%;
    color: #FFE046; }
  table.biodata tr td:nth-child(2) {
    width: 65%; }
  table.biodata a {
    color: #ffffff;
    text-decoration: none; }

div.social-account a {
  color: #ffffff; }
  div.social-account a > i {
    margin: 4px 8px; }

table.table-legend tr td {
  vertical-align: top; }
  table.table-legend tr td:nth-child(2) {
    text-align: right;
    width: 24px; }

.skill-container > div {
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  border-radius: 8px; }
  .skill-container > div:nth-child(odd) {
    background-color: #263D93; }
  .skill-container > div > div {
    display: flex;
    align-items: center;
    width: 33.33%; }
    .skill-container > div > div:nth-child(2) {
      justify-content: center; }
    .skill-container > div > div:nth-child(3) {
      text-align: right; }

div.technology {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap; }
  div.technology > span {
    padding: 0 16px;
    background-color: #FFE046;
    color: #031275;
    font-weight: 800;
    border-radius: 8px;
    margin: 4px; }

.side-left {
  position: fixed;
  left: 0;
  top: 0;
  width: 45%;
  height: 100%;
  background-color: #031275;
  color: #ffffff;
  overflow: auto; }
  .side-left .icon-container {
    display: flex;
    justify-content: center;
    margin: 48px 0 28px 0; }
    .side-left .icon-container .icon {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      background-image: url("../images/profile.jpg");
      background-position: center center;
      background-size: cover;
      box-shadow: 2px 4px 16px 2px #000000; }
  .side-left .content {
    padding: 0 64px;
    display: flex;
    justify-content: center; }
    .side-left .content div .greeting span {
      color: #FFE046;
      font-size: 52px; }
    .side-left .content div .name h1 {
      font-size: 64px;
      margin: 0; }
    .side-left .content div .quote {
      display: flex;
      justify-content: center;
      padding: 24px 0; }
      .side-left .content div .quote span {
        font-style: italic; }
  .side-left nav {
    position: sticky;
    bottom: 0;
    padding: 16px;
    text-align: center; }
    .side-left nav .nav-item {
      text-decoration: none;
      font-size: 20px;
      color: #FFE046;
      margin: 4px 8px; }
  .side-left footer {
    position: absolute;
    bottom: 16px;
    width: 100%;
    text-align: center;
    font-size: 10px; }

.side-right {
  min-height: 100vh;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center bottom; }
  .side-right .background-overlay {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.3); }

@media only screen and (max-width: 1200px) {
  .side-left {
    display: block; }
    .side-left .icon-container .icon {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      background-color: red; }
    .side-left .content {
      padding: 0 58px; }
      .side-left .content div .greeting span {
        font-size: 44px; }
      .side-left .content div .name h1 {
        font-size: 50px; }
    .side-left nav {
      margin-top: 16px;
      padding: 0; }
      .side-left nav .nav-item {
        font-size: 14px; } }
@media only screen and (max-width: 992.5px) {
  .side-left {
    display: none; }

  nav.nav-top {
    display: block; }

  body {
    margin-left: 0; } }
@media only screen and (max-width: 600px) {
  nav.nav-top {
    padding-right: 8px; }
    nav.nav-top div.icon {
      top: 16.5px;
      left: 15px;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      border: 2px solid #031275; }
    nav.nav-top div.greeting {
      top: 31px;
      left: 12px;
      font-size: 10px;
      color: #ffffff;
      padding: 0px 10px 2px 48px !important;
      border-bottom-right-radius: 24px !important;
      border-bottom-left-radius: 24px !important;
      z-index: 1; }
      nav.nav-top div.greeting .title {
        font-size: 8px !important; }
    nav.nav-top a.nav-item {
      margin: 4px !important;
      font-size: 14px; } }
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*# sourceMappingURL=main.css.map */
